<!-- Show this if loading is complete and user data does NOT exist -->
<div *ngIf="isLoading" class="flex justify-center items-center h-48">
  <div
    class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500"
  ></div>
</div>

<div *ngIf="!isLoading && !user" class="p-5">
  <app-card
    title="Github"
    subtitle="Connect Sredio to Github"
    iconUrl="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
    buttonText="Connect"
    [buttonAction]="connectToGithub"
  >
  </app-card>
</div>

<!-- Show this if loading is complete and user data exists -->
<div *ngIf="!isLoading && user" class="p-5">
  <div
    class="border shadow-sm p-4 rounded-lg flex justify-between items-center"
  >
    <div class="flex items-center space-x-2">
      <img
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
        alt="GitHub"
        class="w-6 h-6"
      />
      <span class="text-lg font-semibold">Github</span>
    </div>
    <div>
      <div class="text-sm text-gray-500">
        <span>User email: {{ user.email ?? "N/A" }}</span
        ><br />
        <span>User name: {{ user.name }}</span>
      </div>
    </div>
  </div>

  <button
    class="mt-5 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center"
    (click)="disconnectAccount()"
  >
    Remove
  </button>
</div>
