<!-- Show this if loading is complete and user data does NOT exist -->
<div *ngIf="isLoading" class="flex justify-center items-center h-48">
  <div
    class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500"
  ></div>
</div>

<div *ngIf="!isLoading && !user" class="p-5">
  <app-github-connect></app-github-connect>
</div>

<div *ngIf="!isLoading && user" class="p-5">
  <app-user-card [user]="user"></app-user-card>

  <app-user-organizations
    [userOrganizations]="user.data?.orgs"
  ></app-user-organizations>

  <div class="mt-5 flex">
    <button
      class="mr-5 border-blue-600 border text-blue-600 font-bold py-2 px-4 rounded flex items-center"
      [routerLink]="['/repo-details']"
    >
      Repo Detail
    </button>

    <button
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center"
      (click)="disconnectAccount()"
    >
      Remove
    </button>
  </div>
</div>
